doctype html
html

    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")

    body
        section.skip-links
        ul
            li
            a(href='#main-content' tabindex='0').skip-link.screenreader-only.screenreader-only-focus Skip to Main Content
            
        nav#main-navigation
        .main-navigation-content
            ul
            li
                a(href='#') Features
            li
                a(href='#') Pricing
            li
                a(href='#') Start Inking
            li
                a(href='#') Login
        main#main-content
        section.intro
            .container-fluid
                .container
                .row
                .col-lg-6
                    .left-column
                        h1 This is the Header to end all Headers
                        p Look at this amazing thing! The inkspot, best for all sorts of shenanigians and productivity.
                .col-lg-6
                    .right-column
                        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/755519/inkspot-v3.png' alt='Buy this awesome ink spot')
        section.product
            .container
            .row
                .col-lg-12
                .product-content
                    h2 Look at all that ink
        
        section.product-details-section
        .container-fluid
            .row
                .col-lg-12
                .product-details
                    ul.details
                    .details-box
                        li
                        span.icon.fa.fa-cog(aria-label='icon' aria-hidden='true')
                        p Something about stuff
                    .details-box
                        li
                        span.icon.fa.fa-cog(aria-label='icon' aria-hidden='true')
                        p Something about stuff
                    .details-box
                        li
                        span.icon.fa.fa-cog(aria-label='icon' aria-hidden='true')
                        p Something about stuff
                    .details-box
                        li
                        span.icon.fa.fa-cog(aria-label='icon' aria-hidden='true')
                        p Something about stuff
                    .details-box
                        li
                        span.icon.fa.fa-cog(aria-label='icon' aria-hidden='true')
                        p Something about stuff
            
        section.testimonials
            .container
            .row
                .col-lg-4
                .testimonial-container
                    p.quote
                    img(src='#' alt='alt text')
                .col-lg-4
                .testimonial-container
                    p.quote
                .col-lg-4
                .testimonial-container
                    p.quote
            .row
                .col-lg-6
                .testimonial-container           
                    p.quote
                .col-lg-6
                .testimonial-container
                    p.quote
        section.specs
        section.signup

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")